// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

//TEXT-COLORS
$text-color-gray: #666;
$text-color-black: #010101;

// FONTS
$rm: 'Roboto', sans-serif;